﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ACME Inc. Drive<br />
    AcmeVille, AE 00000<br />
    <abbr title="Phone">P:</abbr>
    1.888.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ACME.com">Support@ACME.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ACME.com">Marketing@ACME.com</a>
</address>