﻿@model ACME.Models.PTOViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Step 2: Pick Dates and Type";
}

<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
    <br /> <br />
    
    <div class="form-horizontal">
        <div class="well bs-component col-md-6 col-md-offset-2 shadow">
            <h2>Personal Time Off Request Form</h2>
            <hr />

       <!------------------Start of Step:2 Personal Time Off Details---------------------------------------------------------------------->
            <div class="wizard-step">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="progress progress-striped active shadow">
                    <div class="progress-bar" style="width: 75%"> 75%</div>
                </div>

                <h3> <span class="label label-primary shadow">Step:2 Personal Time Off Details </span></h3>

                <div class="row"></div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOStartDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.DatePickerFor(m => m.PTOStartDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                        @Html.ValidationMessageFor(model => model.PTOStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOEndDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.DatePickerFor(m => m.PTOEndDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                        @Html.ValidationMessageFor(model => model.PTOEndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOType, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EnumDropDownListFor(model => model.PTOType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PTOType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!------------------End of Step:2 Personal Time Off Details---------------------------------------------------------------------->


            <div class="wizard-nav">
                <ul class="pager">
                    <li>@Html.ActionLink("Previous", "Index", "TO")  </li>
                    <li><input type="submit" class="btn btn-primary" id="wizard-next" value="Submit" />    </li>
                    
                </ul>
            </div>





     </div>
   </div>
}

@section Scripts {
   <script src="~/Scripts/bootstrap-datepicker.js"></script>   
}
