﻿@model ACME.Models.PTOViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="well bs-component col-md-6 col-md-offset-2 shadow">
            <h2>Personal Time Off Request Form</h2>
            <hr />

     <!------------------Start of Step 1 Employee information---------------------------------------------------------------------->
            <div class="wizard-step">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

               <div class="progress progress-striped active shadow">
                    <div class="progress-bar" style="width: 25%"> 25%</div>
                </div>

                <h3> <span class="label label-primary shadow"> Step:1 Employee Information</span></h3>
               
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SupervisorName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!------------------End of Step 1 Employee information---------------------------------------------------------------------->
            
            <div class="wizard-nav">
                <ul class="pager">
                    
                    <li><input type="submit" class="btn btn-primary" id="wizard-next" value="Next" /> </li>
                        
                </ul>
           </div>

        </div>
    </div>
}
                <!-----------------------------End of Form Code---------------------------------------------------------->

