﻿@model ACME.Models.PTOViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
     var Step1 = (ACME.Models.PTOViewModel) Session["Step1"];
     var Step2 = (ACME.Models.PTOViewModel)Session["Step2"];   
}

<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive|Oswald:300' rel='stylesheet' type='text/css'>

<style type="text/css">
    
    #body  
    {
        margin-top:0%;
        padding:1%;
        color: #333;
        background-color: rgb(255, 255, 255);
        width:70%;
    }

    .box {
        position: relative;
        width: 70%;
        height:30%;
        padding: 20px;
        margin: 0 auto;
        background-color: #fff;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    
        }

        .box:before, .box:after {
            position: absolute;
            width: 40%;
            height: 10px;
            content: ' ';
            left: 12px;
            bottom: 12px;
            background: transparent;
            -webkit-transform: skew(-5deg) rotate(-5deg);
            -moz-transform: skew(-5deg) rotate(-5deg);
            -ms-transform: skew(-5deg) rotate(-5deg);
            -o-transform: skew(-5deg) rotate(-5deg);
            transform: skew(-5deg) rotate(-5deg);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            z-index: -1;
        }

        .box:after {
            left: auto;
            right: 12px;
            -webkit-transform: skew(5deg) rotate(5deg);
            -moz-transform: skew(5deg) rotate(5deg);
            -ms-transform: skew(5deg) rotate(5deg);
            -o-transform: skew(5deg) rotate(5deg);
            transform: skew(5deg) rotate(5deg);
        }

    h1, h2 {
        font-size: 1.6em;
        font-weight: normal;
        margin: 0;
    }

    h2 {
        font-size: 1.3em;
        margin-top: 1.5em;
    }

    .sign {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 20px;
    }

    p {
        font-size: 16px;
        padding-bottom:20px;
    }

    b {
        font-size:14px;
        text-emphasis:sesame;
      }

    #leaderhead {
       background: url(../../Content/LetterHead.PNG);
       background-repeat:no-repeat;
       display:block;
       width:510px;
       height:100px;
      }
</style>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">

    <div class="col-md-9 col-md-offset-0">
        
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Your request has been successfully received</strong> 
            <br />
            Below is a confirmation letter for your own records to keep.

            <div class="progress progress-striped active shadow">
                <div class="progress-bar" style="width: 100%"> Done </div>
            </div>

        </div>
    </div>

    

</div>


<div id="body">

    <div class="box">

        <div id="leaderhead"> </div>
        <br />

        <b> @DateTime.Now.ToString("MMM d, yyyy")</b>

        <br />

        <h5>Subject: Personal Time Off (PTO) Request Confirmation </h5>

        <br />

        <b>Dear @Step1.FirstName,</b>

        <br /> <br />

        <p>
            We had received your request for
            @Step2.NumberOfDays
            @Step2.PTOType
            days and it has been forwarded to your supervisor
            @Step1.SupervisorName for approval.
        </p>


        <span>Sincerely, </span>

        <p class="sign">Brian Davis </p>

        <span>Brian Davis</span>
        <p>CEO ACME</p>

    </div>
</div>  

<br/>

<div class="clearfix"></div>  